/** get-started-swiper **/
.ion-color-get-started-swiper {
  --ion-color-base: var(--ion-color-get-started-swiper);
  --ion-color-base-rgb: var(--ion-color-get-started-swiper-rgb);
  --ion-color-contrast: var(--ion-color-get-started-swiper-contrast);
  --ion-color-contrast-rgb: var(--ion-color-get-started-swiper-contrast-rgb);
  --ion-color-shade: var(--ion-color-get-started-swiper-shade);
  --ion-color-tint: var(--ion-color-get-started-swiper-tint);
}

/** our-services-border **/
.ion-color-our-services-border {
  --ion-color-base: var(--ion-color-our-services-border);
  --ion-color-base-rgb: var(--ion-color-our-services-border-rgb);
  --ion-color-contrast: var(--ion-color-our-services-border-contrast);
  --ion-color-contrast-rgb: var(--ion-color-our-services-border-contrast-rgb);
  --ion-color-shade: var(--ion-color-our-services-border-shade);
  --ion-color-tint: var(--ion-color-our-services-border-tint);
}
