// Width for unit px, vw and percentage
$width-2px: 2px;
$width-4px: 4px;
$width-7px: 7px;
$width-8px: 8px;
$width-9px: 9px;
$width-10px: 10px;
$width-12px: 12px;
$width-13px: 13px;
$width-14px: 14px;
$width-15px: 15px;
$width-16px: 16px;
$width-17px: 17px;
$width-18px: 18px;
$width-20px: 20px;
$width-22px: 22px;
$width-23px: 23px;
$width-24px: 24px;
$width-28px: 28px;
$width-30px: 30px;
$width-35px: 35px;
$width-37px: 37px;
$width-40px: 40px;
$width-50px: 50px;
$width-60px: 60px;
$width-70px: 70px;
$width-75px: 75px;
$width-80px: 80px;
$width-86px: 86px;
$width-90px: 90px;
$width-93px: 93px;
$width-95px: 95px;
$width-96px: 96px;
$width-100px: 100px;
$width-102px: 102px;
$width-107px: 107px;
$width-112px: 112px;
$width-114px: 114px;
$width-119px: 119px;
$width-126px: 126px;
$width-139px: 139px;
$width-157px: 157px;
$width-160px: 160px;
$width-166px: 166px;
$width-185px: 185px;
$width-195px: 195px;
$width-230px: 230px;
$width-240px: 240px;
$width-320px: 320px;

$width-100p: 100%;
$width-100p-12px: calc(100% - 12px);
$width-100p-20px: calc(100% - 20px);
$width-100p-30px: calc(100% - 30px);
$width-100p-60px: calc(100% - 60px);

$width-100vw-32px: calc(100vw - 32px);

// Height for unit px, vh and percentage
$height-2px: 2px;
$height-4px: 4px;
$height-7px: 7px;
$height-8px: 8px;
$height-9px: 9px;
$height-10px: 10px;
$height-12px: 12px;
$height-13px: 13px;
$height-14px: 14px;
$height-15px: 15px;
$height-16px: 16px;
$height-17px: 17px;
$height-18px: 18px;
$height-20px: 20px;
$height-22px: 22px;
$height-23px: 23px;
$height-24px: 24px;
$height-28px: 28px;
$height-30px: 30px;
$height-35px: 35px;
$height-37px: 37px;
$height-40px: 40px;
$height-44px: 44px;
$height-50px: 50px;
$height-54px: 54px;
$height-56px: 56px;
$height-60px: 60px;
$height-70px: 70px;
$height-75px: 75px;
$height-76px: 76px;
$height-80px: 80px;
$height-81px: 81px;
$height-83px: 83px;
$height-86px: 86px;
$height-89px: 89px;
$height-90px: 90px;
$height-93px: 93px;
$height-95px: 95px;
$height-96px: 96px;
$height-100px: 100px;
$height-101px: 101px;
$height-102px: 102px;
$height-106px: 106px;
$height-107px: 107px;
$height-108px: 108px;
$height-112px: 112px;
$height-114px: 114px;
$height-119px: 119px;
$height-120px: 120px;
$height-139px: 139px;
$height-140px: 140px;
$height-188px: 188px;
$height-208px: 208px;
$height-290px: 290px;
$height-320px: 320px;

$height-100vh-71px: calc(100vh - 71px);
$height-100vh-83px: calc(100vh - 83px);
$height-100vh-85px: calc(100vh - 85px);
$height-100vh-91px: calc(100vh - 91px);
$height-100vh-120px: calc(100vh - 120px);
$height-100vh-124px: calc(100vh - 124px);
$height-100vh-125px: calc(100vh - 125px);
$height-100vh-143px: calc(100vh - 143px);
$height-100vh-165px: calc(100vh - 165px);
$height-100vh-166px: calc(100vh - 166px);
$height-100vh-198px: calc(100vh - 198px);
$height-100vh-200px: calc(100vh - 200px);
$height-100vh-203px: calc(100vh - 203px);
$height-100vh-206px: calc(100vh - 206px);
$height-100vh-215px: calc(100vh - 215px);
$height-100vh-223px: calc(100vh - 223px);
$height-100vh-224px: calc(100vh - 224px);
$height-100vh-240px: calc(100vh - 240px);
$height-100vh-242px: calc(100vh - 242px);
$height-100vh-262px: calc(100vh - 262px);
$height-100vh-267px: calc(100vh - 267px);
$height-100vh-274px: calc(100vh - 274px);
$height-100vh-315px: calc(100vh - 315px);
$height-100vh-321px: calc(100vh - 321px);
$height-100vh-356px: calc(100vh - 356px);
$height-100vh-403px: calc(100vh - 403px);
$height-100vh-495px: calc(100vh - 495px);
$height-100vh-530px: calc(100vh - 530px);

$height-100p: 100%;

$height-100p-12px: calc(100% - 12px);
$height-100p-70px: calc(100% - 70px);
$height-100p-100px: calc(100% - 100px);
$height-100p-151px: calc(100% - 151px);
