/**
	@var
	Variables are populated using the theme.json file in the root of the theme
*/

// Font family
$font-family-inter: "Inter", sans-serif;

// Font sizes
$font-size-10px: 10px;
$font-size-11px: 11px;
$font-size-12px: 12px;
$font-size-13px: 13px;
$font-size-14px: 14px;
$font-size-15px: 15px;
$font-size-16px: 16px;
$font-size-17px: 17px;
$font-size-18px: 18px;
$font-size-20px: 20px;
$font-size-24px: 24px;
$font-size-30px: 30px;

// Font weight
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// Letter spacing
$letter-spacing-1px: 1px;
$letter-spacing-3px: 3px;

// Letter spacing
$line-height-18px: 18px;
$line-height-21px: 21px;
$line-height-24px: 24px;


