// Position
.u-position {
  &--absolute {
    position: absolute;
  }

  &--relative {
    position: relative;
  }

  &--fixed {
    position: fixed;
  }
}

.u-top {
  &--50p {
    top: 50%;
  }
}

.u-left {
  &--50p {
    left: 50%;
  }
}

.u-transform {
  &--translate-minus-50p {
    transform: translate(-50%, -50%);
  }

  &--translate-y-minus-50p {
    transform: translateY(-50%);
  }

  &--translate-x-minus-50p {
    transform: translateX(-50%);
  }
}
