<!-- Order details header -->
<ion-header collapse="fade" mode="md" class="l-header">
    <app-header [headerMeta]="headerInfo"></app-header>
</ion-header>

<!-- Order details content -->
<ion-content class="ion-no-padding">
    <!-- Order details refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="handlePullRefresh($event)" class="c-refresher c-refresher--color-brand"
        pullFactor="1" pullMin="100" pullMax="200">
        <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <!-- /Order details refresher -->


    <!-- Order details main wrapper -->
    <ion-grid class="l-main-wrapper ion-no-padding l-main-wrapper--get-started">
        <ion-row>
            <ion-col class="ion-no-padding">
                <!-- Order details header -->
                <ion-row>
                    <ion-col class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot">
                        <!-- Order details header icon -->
                        <ion-icon [src]="serviceDetailsData?.logoUrl" 
                            class="c-icon u-no--border-radius c-icon--dollar-envelope c-icon--width-20px c-icon--height-20px">
                        </ion-icon>
                        <!-- /Order details header icon -->

                        <ion-row>
                            <ion-col class="u-no--pad-top u-no--pad-bot">
                                <!-- Service label -->
                                <ion-text
                                    class="ion-no-padding c-title c-title--get-started c-title--our-services c-title--h1-inter-16px c-title--inter-regular c-title--h1-black c-title--video-instructions u-no--mg-top">
                                    <h1 class="c-title__h1">{{serviceDetailsData?.serviceLabel}}</h1>
                                </ion-text>
                                <!-- /Service label -->

                                <!-- Service date -->
                                <ion-text
                                    class="ion-no-padding c-title--addition-services c-title--h1-inter-12px c-title--h1-color-primary-1-1 c-title--time-stamp">
                                    <h1 class="c-title__h1">{{serviceDetailsData?.serviceDate | date: 'MMM d, y, h:mm a'}}</h1>
                                </ion-text>
                                <!-- /Service date -->
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <!-- /Order details header -->

                <!-- Order details wrapper -->
                <div class="l-form">
                    <!-- Order details list -->
                    <ion-list class="c-list u-no--bg ion-no-padding u-no--pad-bot c-list--dashboard">
                        <!-- Order details item group -->
                        <ion-item-group class="c-item-group u-no--pad-top u-no--pad-bot c-item-group--pickup-location">
                            <!-- Order details item -->
                            <ion-item class="c-item ion-no-padding">
                                <!-- Order details main wrapper -->
                                <ion-row
                                class="c-thumbnail c-thumbnail--video-capture c-thumbnail--width-100p c-thumbnail--body-bg-gray-1-1 c-card u-no--mg-bot u-no--height c-card--pickup-location c-card--addition-services">
                                <ion-col class="ion-no-padding">
                                    <ion-row class="l-row u-no--mg l-row--pickup-location">
                                    <ion-col class="u-no--pad-top u-no--pad-bot u-no--pad-lt" size="8">
                                        <ion-row
                                        class="l-row u-no--mg-top u-no--mg-rt u-no--mg-lt l-row--pickup-location l-row--view-vendor-quote">
                                        <ion-col
                                            class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-lt">
                                            <!-- Order details -->
                                            <ion-text
                                            class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote">
                                            <h1 class="c-title__h1">SERVICE DETAILS</h1>
                                            </ion-text>
                                            <!-- /Order details -->
                                        </ion-col>
                                        </ion-row>

                                        <!-- Order details id -->
                                        <ion-text
                                        class="c-title ion-no-padding c-title--h1-color-primary c-title--h1-inter-14px c-title--h1-inter-semibold">
                                        <h1 class="c-title__h1">ID #{{serviceDetailsData?.serviceRequestId}}</h1>
                                        </ion-text>
                                        <!-- /Order details id -->
                                    </ion-col>

                                    <ion-col class="u-no--pad-top u-no--pad-bot u-no--pad-rt u-display--flex u-align-items--center u-justify-content--flex-end"
                                        size="4">
                                        <!-- View quotes button -->
                                        <ion-button
                                            class="c-button ion-no-margin u-no--text-transform c-button--text-inter-10px c-button--text-inter-medium c-button--height-25px c-button--bg-color-brand"
                                            fill="clear" expand="full" (click)="viewQuotes()" *ngIf="false"> <!-- quotesPresent was in ngif-->
                                        
                                            View Quotes
                                        </ion-button>
                                        <!-- /View quotes button -->

                                        <!-- No quotes label -->
                                        <ion-text
                                            class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--h1-inter-14px c-title--h1-inter-semibold"
                                            *ngIf="false"> <!-- not quotesPresent was in ngif -->
                                            <em class="c-title__h1">No quotes</em>
                                        </ion-text>
                                        <!-- /No quotes label -->
                                    </ion-col>
                                    </ion-row>
                                    <!-- /Order details row -->
                                </ion-col>
                                </ion-row>
                                <!-- /Order details main wrapper -->
                            </ion-item>
                            <!-- /Order details item -->

                            <!-- Payment details item -->
                            <ion-item class="c-item ion-no-padding" *ngIf="showPaymentInfo">
                                <!--  *ngIf="showPaymentInfo" -->
                                <!-- Payment details main wrapper -->
                                <ion-row
                                class="c-thumbnail c-thumbnail--video-capture c-thumbnail--width-100p c-thumbnail--body-bg-gray-1-1 c-card u-no--mg-bot u-no--height c-card--pickup-location c-card--addition-services">
                                <ion-col class="ion-no-padding">
                                    <!-- Payment details header -->
                                    <ion-row
                                    class="l-row u-no--mg-top u-no--mg-rt u-no--mg-lt l-row--pickup-location l-row--view-vendor-quote">
                                    <ion-col class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-lt"
                                        size="8">
                                        <!-- Payment details title -->
                                        <ion-text
                                        class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote">
                                        <h1 class="c-title__h1">PAYMENT DETAILS</h1>
                                        </ion-text>
                                        <!-- /Payment details title -->
                                    </ion-col>
                                    </ion-row>
                                    <!-- /Payment details header -->

                                    <!-- Payment details list -->
                                    <ion-list class="c-list u-no--bg ion-no-padding u-no--pad-bot c-list--view-vendor-quote">
                                    <ion-item-group class="c-item-group u-no--pad-top u-no--pad-bot c-item-group--pickup-location">
                                        <!-- Total amount item -->
                                        <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                        <!-- Ellipse icon -->
                                        <ion-icon name="ellipse"
                                            class="c-icon c-icon--width-8px c-icon--height-8px c-icon--color-brand">
                                        </ion-icon>
                                        <!-- /Ellipse icon -->

                                        <!-- Total amount wrapper -->
                                        <ion-grid class="u-no--pad">
                                            <ion-row>
                                            <ion-col
                                                class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-lt">
                                                <!-- Total amount label -->
                                                <ion-text
                                                class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
                                                <h1 class="c-title__h1">Total amount</h1>
                                                </ion-text>
                                                <!-- /Total amount label -->
                                            </ion-col>

                                            <ion-col
                                                class="u-display--flex u-align-items--center u-justify-content--flex-end u-no--pad-top u-no--pad-bot u-no--pad-rt">
                                                <!-- Total amount figure -->
                                                <ion-text
                                                class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
                                                <h1 class="c-title__h1">{{totalAmount}}</h1>
                                                </ion-text>
                                                <!-- /Total amount figure -->
                                            </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                        <!-- /Total amount wrapper -->
                                        </ion-item>
                                        <!-- /Total amount item -->

                                        <!-- Paid amount item -->
                                        <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                        <!-- Ellipse icon -->
                                        <ion-icon name="ellipse"
                                            class="c-icon c-icon--width-8px c-icon--height-8px c-icon--color-brand">
                                        </ion-icon>
                                        <!-- /Ellipse icon -->

                                        <!-- Paid amount wrapper -->
                                        <ion-grid class="u-no--pad">
                                            <ion-row>
                                            <ion-col
                                                class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-lt">
                                                <!-- Paid amount label -->
                                                <ion-text
                                                class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
                                                <h1 class="c-title__h1">Paid amount</h1>
                                                </ion-text>
                                                <!-- /Paid amount label -->
                                            </ion-col>

                                            <ion-col
                                                class="u-display--flex u-align-items--center u-justify-content--flex-end u-no--pad-top u-no--pad-bot u-no--pad-rt">
                                                <!-- Paid amount figure -->
                                                <ion-text
                                                class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
                                                <h1 class="c-title__h1">$ {{amountPaid}}</h1>
                                                </ion-text>
                                                <!-- /Paid amount figure -->
                                            </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                        <!-- /Paid amount wrapper -->
                                        </ion-item>
                                        <!-- /Paid amount item -->

                                        <!-- Amount to be paid item -->
                                        <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                        <!-- Ellipse icon -->
                                        <ion-icon name="ellipse"
                                            class="c-icon c-icon--width-8px c-icon--height-8px c-icon--color-brand">
                                        </ion-icon>
                                        <!-- /Ellipse icon -->

                                        <!-- Amount to be paid wrapper -->
                                        <ion-grid class="u-no--pad">
                                            <ion-row>
                                            <ion-col
                                                class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-lt">
                                                <!-- Amount to be paid label -->
                                                <ion-text
                                                class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
                                                <h1 class="c-title__h1">Amount to be paid</h1>
                                                </ion-text>
                                                <!-- /Amount to be paid label -->
                                            </ion-col>

                                            <ion-col
                                                class="u-display--flex u-align-items--center u-justify-content--flex-end u-no--pad-top u-no--pad-bot u-no--pad-rt">
                                                <!-- Quote grand total amount tag -->
                                                <ion-text class="o-received-quotes__quotes-amount">
                                                <h2 class="c-title__h1">
                                                    $ {{pendingAmount}}</h2>
                                                </ion-text>
                                                <!-- /Quote grand total amount tag -->
                                            </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                        <!-- /Amount to be paid wrapper -->
                                        </ion-item>
                                        <!-- /Amount to be paid item -->

                                        <!-- Make payment button item -->
                                        <ion-item class="c-item ion-no-padding" *ngIf="false"> 
                                            <!-- ngif condition (totalAmount - amountPaid > 0) -->
                                        <!-- Make payment button -->
                                        <ion-button
                                            class="c-button ion-no-margin u-no--text-transform c-button--text-inter-10px c-button--text-inter-medium c-button--height-25px c-button--bg-color-brand c-button--payment"
                                            fill="clear" expand="full" (click)="goToPayment()" slot="end">
                                            Make Payment
                                            <!-- /Right-caret icon -->
                                        </ion-button>
                                        <!-- /Make payment button -->
                                        </ion-item>
                                        <!-- /Make payment button item -->
                                    </ion-item-group>
                                    </ion-list>
                                    <!-- /Payment details list -->
                                </ion-col>
                                </ion-row>
                                <!-- /Payment details main wrapper -->
                            </ion-item>
                            <!-- /Payment details item -->

                            <!-- Contact details item -->
                            <ion-item class="c-item ion-no-padding">
                                <!-- Contact details main wrapper -->
                                <ion-row
                                class="c-thumbnail c-thumbnail--video-capture c-thumbnail--width-100p c-thumbnail--body-bg-gray-1-1 c-card u-no--mg-bot u-no--height c-card--pickup-location c-card--addition-services">
                                <ion-col class="ion-no-padding">
                                    <!-- Contact details header -->
                                    <ion-row
                                        class="l-row u-no--mg-top u-no--mg-rt u-no--mg-lt l-row--pickup-location l-row--view-vendor-quote">
                                        <ion-col class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-lt"
                                            size="8">
                                            <!-- Contact details title -->
                                            <ion-text
                                            class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote">
                                            <h1 class="c-title__h1">CONTACT DETAILS</h1>
                                            </ion-text>
                                            <!-- /Contact details title -->
                                        </ion-col>

                                        <ion-col
                                            class="u-display--flex u-align-items--center u-justify-content--flex-end u-no--pad-top u-no--pad-bot u-no--pad-rt">
                                            <!-- Edit icon -->
                                            <ion-icon src="../../../../assets/images/fill-edit--color-blue.svg" (click)="editContactDetails()" *ngIf="!editModeContactDetails"
                                            class="c-icon u-no--mg-rt c-icon--button u-position--absolute u-top--50p u-transform--translate-y-minus-50p c-icon--review-service-request c-icon--width-12px c-icon--height-12px u-no--position-rt">
                                            </ion-icon>
                                            <!--  -->
                                            <!-- /Edit icon -->

                                            <!-- Checkmark icon -->
                                            <!-- -->
                                            <ion-button color="primary" size="small" (click)="saveContactDetails(contactDetailsForm.value)"  *ngIf="editModeContactDetails" 
                                                strong="true">
                                                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
                                            </ion-button>
                                            <!-- /Checkmark icon -->
                                        </ion-col>
                                    </ion-row>
                                    <!-- /Contact details header -->

                                    <!-- Contact details list -->
                                    <ion-list class="c-list u-no--bg ion-no-padding u-no--pad-bot c-list--view-vendor-quote" *ngIf="!editModeContactDetails" > 
                                        <!-- -->
                                        <ion-item-group class="c-item-group u-no--pad-top u-no--pad-bot c-item-group--pickup-location">
                                            <!-- Contact full name item -->
                                            <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                            <!-- Avatar icon -->
                                            <ion-icon src="../../../../assets/images/fill-avatar--color-brand-1-2.svg"
                                                class="c-icon c-icon--view-vendor-quote"></ion-icon>
                                            <!-- /Avatar icon -->

                                            <!-- Contact full name label -->
                                            <ion-text
                                                class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
                                                <h1 class="c-title__h1">{{contactFullName}}</h1>
                                            </ion-text>
                                            <!-- /Contact full name label -->
                                            </ion-item>
                                            <!-- /Contact full name item -->

                                            <!-- Contact phone item -->
                                            <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center"
                                                *ngIf="contactPhone">
                                                <!-- Phone icon -->
                                                <ion-icon src="../../../../assets/images/fill-phone--color-brand-1-2.svg"
                                                    class="c-icon c-icon--view-vendor-quote">
                                                </ion-icon> 
                                                <!-- Contact phone label -->
                                                <ion-text
                                                    class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
                                                    <h1 class="c-title__h1">{{contactPhone}}</h1>
                                                </ion-text>
                                                <!-- Contact phone label -->
                                            </ion-item>
                                            <!-- /Contact phone item -->

                                            <!-- Contact email item -->
                                            <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                                <!-- Email icon -->
                                                <ion-icon src="../../../../assets/images/fill-email--color-brand-1-2.svg"
                                                    class="c-icon c-icon--view-vendor-quote"></ion-icon>
                                                <!-- /Email icon -->

                                                <!-- Contact email label -->
                                                <ion-text
                                                    class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
                                                    <h1 class="c-title__h1">{{contactEmail}}</h1>
                                                </ion-text>
                                                <!-- /Contact email label -->
                                            </ion-item>
                                            <!-- /Contact email item -->
                                        </ion-item-group>
                                    </ion-list>
                                    <!-- /Contact details list -->

                                    <!-- Contact details list -->
                                    <ion-list class="c-list u-no--bg ion-no-padding u-no--pad-bot c-list--view-vendor-quote" *ngIf="editModeContactDetails">
                                        <ion-item-group [formGroup]="contactDetailsForm"
                                            class="c-item-group u-no--pad-top u-no--pad-bot c-item-group--pickup-location">
                                            <!-- Contact first name item -->
                                            <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                            <!-- Avatar icon -->
                                            <ion-icon src="../../../../assets/images/fill-avatar--color-brand-1-2.svg"
                                                class="c-icon c-icon--view-vendor-quote"></ion-icon>
                                            <!-- /Avatar icon -->
                                        
                                            <!-- Contact full name input -->
                                            <ion-input class="c-input c-input--white" formControlName="firstname" type="text">
                                            </ion-input>
                                            <!-- /Contact full name input -->
                                            </ion-item>
                                            <!-- /Contact first name item -->
                                        
                                            <!-- Contact last name item -->
                                            <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                            <!-- Avatar icon -->
                                            <ion-icon src="../../../../assets/images/fill-avatar--color-brand-1-2.svg"
                                                class="c-icon c-icon--view-vendor-quote"></ion-icon>
                                            <!-- /Avatar icon -->
                                        
                                            <!-- Contact full name input -->
                                            <ion-input class="c-input c-input--white" formControlName="lastname" type="text">
                                            </ion-input>
                                            <!-- /Contact full name input -->
                                            </ion-item>
                                            <!-- /Contact last name item -->
                                        
                                            <!-- Contact phone item -->
                                            <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                            <!-- Phone icon -->
                                            <ion-icon src="../../../../assets/images/fill-phone--color-brand-1-2.svg"
                                                class="c-icon c-icon--view-vendor-quote"></ion-icon>
                                            <!-- /Phone icon -->
                                        
                                            <!-- Contact full name input -->
                                            <ion-input class="c-input c-input--white" formControlName="phoneNumber" type="text" placeholder="(000) 000-0000"
                                                minlength="10" maxlength="14" (keypress)="alphanumericValidation($event)"
                                                (keyup)="validateContactPhoneNumber($event)"></ion-input>
                                            <!-- phone field validation error -->
                                            <p class="c-content c-content--inter-12px c-content--login c-content--color-red c-content--form-message"
                                                *ngIf="contactDetailsForm.controls['phoneNumber']?.errors && contactDetailsForm.controls['phoneNumber']?.dirty">
                                                please enter valid number
                                            </p>
                                            <!-- /phone field validation error -->
                                            <!-- /Contact full name input -->
                                            </ion-item>
                                            <!-- /Contact phone item -->
                                        
                                            <!-- Contact email item -->
                                            <ion-item class="c-item ion-no-padding u-display--flex u-align-items--flex-center">
                                            <!-- Email icon -->
                                            <ion-icon src="../../../../assets/images/fill-email--color-brand-1-2.svg"
                                                class="c-icon c-icon--view-vendor-quote"></ion-icon>
                                            <!-- /Email icon -->
                                        
                                            <!-- Contact email input -->
                                            <ion-input class="c-input c-input--white" type="email" formControlName="email" placeholder="john@doe.com"
                                                pattern="[a-zA-Z0-9._+-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"></ion-input>
                                            <!-- /Contact email input -->
                                            <!-- Email field validation error -->
                                            <p class="c-content c-content--inter-12px c-content--login c-content--color-red c-content--form-message"
                                                *ngIf="contactDetailsForm.controls['email']?.errors && contactDetailsForm.controls['email']?.dirty">
                                                please enter valid email
                                            </p>
                                            <!-- /Email field validation error -->
                                            </ion-item>
                                            <!-- /Contact email item -->
                                        </ion-item-group>
                                    </ion-list>
                                    <!-- /Contact details list -->
                                </ion-col>
                                </ion-row>
                                <!-- /Contact details main wrapper -->
                            </ion-item>
                            <!-- /Contact details item -->

                            <!-- Logistics item -->
                            <ion-item class="c-item ion-no-padding">
                                <!-- Logistics main wrapper -->
                                <ion-row
                                    class="c-thumbnail c-thumbnail--video-capture c-thumbnail--width-100p c-thumbnail--body-bg-gray-1-1 c-card u-no--mg-bot u-no--height c-card--pickup-location c-card--addition-services">
                                    <ion-col class="ion-no-padding">
                                        <app-agent-service-locations (emitRefresh)="handleRefreshFromMedia($event)" [customerId]="serviceDetailsData?.customerId"></app-agent-service-locations>
                                    </ion-col>
                                </ion-row>
                                <!-- /Logistics main wrapper -->
                            </ion-item>
                            <!-- /Logistics item -->

                            <!-- Documents item -->
                            <ion-item class="c-item ion-no-padding">
                                <!-- Logistics main wrapper -->
                                <ion-row
                                class="c-thumbnail c-thumbnail--video-capture c-thumbnail--width-100p c-thumbnail--body-bg-gray-1-1 c-card u-no--mg-bot u-no--height c-card--pickup-location c-card--addition-services">
                                    <ion-col class="ion-no-padding">
                                        <!-- Row -->
                                        <ion-row class="l-row u-no--mg-top u-no--mg-rt u-no--mg-lt l-row--pickup-location l-row--view-vendor-quote">
                                            <ion-col class="u-display--flex u-align-items--center ion-no-padding">
                                            <!-- Title -->
                                            <div
                                                class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote">
                                                <!-- Title h1 -->
                                                <h1 class="c-title__h1">DOCUMENTS</h1>
                                                <!-- /Title h1 -->
                                            </div>
                                            <!-- /Title -->
                                            </ion-col>
                                        </ion-row>
                                        <!-- /Row --> 
                                        <app-agent-service-documets  [documents]="serviceDetailsData?.documents" [agentId]="authData.agent.id"
                                        [contractId]="serviceDetailsData?.contractId" [customerId]="serviceDetailsData?.customerId"></app-agent-service-documets>
                                    </ion-col>
                                </ion-row>
                            </ion-item>
                            <!-- /Documents item -->
                        

                            <!-- Media item -->
                            <ion-item class="c-item ion-no-padding">
                                <!-- Media main wrapper -->
                                <ion-row
                                    class="c-thumbnail c-thumbnail--video-capture c-thumbnail--width-100p c-thumbnail--body-bg-gray-1-1 c-card u-no--mg-bot u-no--height c-card--pickup-location c-card--addition-services">
                                    <ion-col class="ion-no-padding" size="12">
                    
                                        <app-agent-service-media [orderMedie]="serviceDetailsData?.media" [srOrderData]="serviceDetailsData" [authMeta]="authData"
                                        (emitRefresh)="handleRefreshFromMedia($event)" [customerId]="serviceDetailsData?.customerId"></app-agent-service-media>

                                    </ion-col>
                                </ion-row>
                                <!-- /Media main wrapper -->
                            </ion-item>
                            <!-- /Media item -->

                            <!-- Additional notes item -->
                            <ion-item class="c-item ion-no-padding">
                                <!-- Additional notes main wrapper -->
                                <ion-row
                                    class="c-thumbnail c-thumbnail--video-capture c-thumbnail--width-100p c-thumbnail--body-bg-gray-1-1 c-card u-no--mg-bot u-no--height c-card--pickup-location c-card--addition-services">
                                    <ion-col class="ion-no-padding">
                                        <!-- Additional notes header -->
                                        <ion-row
                                            class="l-row u-no--mg-top u-no--mg-rt u-no--mg-lt l-row--pickup-location l-row--view-vendor-quote">
                                            <ion-col class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-lt"
                                                size="8">
                                                <!-- Additional notes title -->
                                                <ion-text
                                                    class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote">
                                                    <h1 class="c-title__h1">ADDITIONAL NOTES</h1>
                                                </ion-text>
                                                <!-- /Additional notes title -->
                                            </ion-col>
                                            <ion-col
                                                class="u-display--flex u-align-items--center u-justify-content--flex-end u-no--pad-top u-no--pad-bot u-no--pad-rt">
                                                <!-- Edit icon -->
                                                <ion-icon src="../../../../assets/images/fill-edit--color-blue.svg"  (click)="editNotes()" *ngIf="!editMode"
                                                    class="c-icon u-no--mg-rt c-icon--button u-position--absolute u-top--50p u-transform--translate-y-minus-50p c-icon--review-service-request c-icon--width-12px c-icon--height-12px u-no--position-rt">
                                                </ion-icon>
                                                <!-- (click)="editNotes()" *ngIf="!editMode" -->
                                                <!-- /Edit icon -->

                                                <!-- Checkmark icon -->
                                                <ion-button (click)="saveNotes()" color="primary" size="small" strong="true" *ngIf="editMode">
                                                    <!--   -->
                                                    <ion-icon slot="icon-only" name="checkmark"></ion-icon>
                                                </ion-button>
                                                <!-- /Checkmark icon -->
                                            </ion-col>
                                        </ion-row>
                                        <!-- /Additional notes header -->

                                        <!-- Additional notes instruction -->
                                        <ion-text
                                            class="c-content c-content--p-inter-14px u-no--mg-top c-content--color-primary-1-2 c-content--view-vendor-quote c-content--p-inter-semibold c-content--customer-reviews">
                                            <p class="c-content__p">
                                                Any extra instructions or special requests to help move things along on the day of your service
                                            </p>
                                        </ion-text>
                                        <!-- /Additional notes instruction -->

                                        <!-- Additional notes -->
                                        <ion-text  *ngIf="!editMode"
                                            class="c-content c-content--p-inter-14px u-no--mg-top c-content--color-primary-1-2 c-content--view-vendor-quote c-content--p-inter-medium">
                                            
                                            <p class="c-content__p">
                                                {{ (serviceDetailsData?.notes === '' || serviceDetailsData?.notes === null) ? 'Notes is empty!' : serviceDetailsData?.notes }}
                                            </p>
                                        </ion-text>
                                        <!-- /Additional notes -->

                                        <!-- Additional notes textarea -->
                                        <ion-textarea *ngIf="editMode" [(ngModel)]="serviceDetailsData.notes"  class="c-input c-input--white order-details-additional-notes" ></ion-textarea>
                                          
                                        <!-- /Additional notes textarea -->
                                    </ion-col>
                                </ion-row>
                                <!-- /Additional notes main wrapper -->
                            </ion-item>
                            <!-- /Additional notes item -->
                        </ion-item-group>
                        <!-- /Order details item group -->
                    </ion-list>
                    <!-- /Order details list -->
                </div>
                <!-- /Order details wrapper -->
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- /Order details main wrapper -->
</ion-content>