// Abstracts
@use "../abstracts/typography" as *;
@use "../abstracts/colors" as *;

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: $font-family-inter;
  //font-size: 14px;
  font-weight: 400;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $white !important;
  //--ion-background-color: $white !important;
  //--ion-toolbar-background: $white !important;
}
