<!-- Header -->
<ion-header collapse="fade" mode="md" class="l-header">
  <app-header [headerMeta]="heraderInfo"></app-header>
</ion-header>
<!-- /Header -->

<ion-content>

  <!-- Main wrapper -->
  <div class="l-main-wrapper l-main-wrapper--get-started">
    <ion-radio-group style="width:100%" (ionChange)="userType($event)" [(ngModel)]="mode">
  
      <ion-row class="forget-password-heading ion-justify-content-center">
        <ion-text>
          <h2>Please mention the type of user</h2>
        </ion-text>
      </ion-row>
  
      <ion-row style="margin-top: 8px;display: inline-grid;"
        class="c-thumbnail c-thumbnail--video-capture c-thumbnail--width-100p c-thumbnail--body-bg-gray-1-1 c-card u-no--mg-bot u-no--height c-card--pickup-location payment payment--payment-card">
        <ion-col class="height:30px;">
          <ion-item class="c-item ion-no-padding" lines="none">
            <ion-label><ion-text
                class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote font-weight-700">
                <h1 class="c-title__h1" style="font-weight: 700;">Customer</h1>
              </ion-text></ion-label><ion-radio slot="start" value="customer"></ion-radio>
          </ion-item>
        </ion-col>
  
        <ion-col class="height:30px;">
          <ion-item class="c-item ion-no-padding" lines="none">
            <ion-label><ion-text
                class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote font-weight-700">
                <h1 class="c-title__h1" style="font-weight: 700;">Agent</h1>
              </ion-text></ion-label><ion-radio slot="start" value="agent"></ion-radio>
          </ion-item>
        </ion-col>
  
        <ion-col class="height:30px;">
          <ion-item class="c-item ion-no-padding" lines="none">
            <ion-label><ion-text
                class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote font-weight-700">
                <h1 class="c-title__h1" style="font-weight: 700;">Employee</h1>
              </ion-text></ion-label><ion-radio slot="start" value="employee"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <div *ngIf="isCustomer" class="ion-padding-top">
      <ion-text class="forget-password-heading">
        <h2>How to reset password</h2>
      </ion-text>
  
      <p class="forget-password-text">
        <ion-text color="primary">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-text> Enter your email address.
      </p>
      <p class="forget-password-text">
        <ion-text color="primary">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-text> Press button Get Verification Code.
      </p>
      <p class="forget-password-text">
        <ion-text color="primary">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-text> Enter the verification code sent to the email.
      </p>
      <p class="forget-password-text">
        <ion-text color="primary">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-text> Type & confirm the new password.
      </p>
      <p class="forget-password-text">
        <ion-text color="primary">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-text> Press Submit. Your password will be reset.
      </p>
      <p class="forget-password-text">
        <ion-text color="primary">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-text> You can login using the new password.
      </p>
    </div>

    <!-- Form -->
    <form class="l-form l-form--login" [formGroup]="forgotPasswordForm" novalidate>
  
      <!-- Item group -->
      <ion-item-group class="c-item-group u-no--pad-top u-no--pad-bot c-item-group--pickup-location">
  
        <!-- Item -->
        <ion-item class="c-item ion-no-padding" [ngClass]="{'has-error': submitted && f.email.errors}">
  
          <!-- Input -->
          <ion-input formControlName="email" ngDefaultControl name="email" type="email" placeholder="Enter email address"
            class="c-input">
          </ion-input>
          <!-- /Input -->
  
          <!-- Content -->
          <div class="c-content c-content--login c-content--p-inter-12px c-content--color-red c-content--form-message"
            *ngIf="submitted && f.email.errors">
  
            <!-- Content p -->
            <p class="c-content__p">
              Email cannot be empty.
            </p>
            <!-- /Content p -->
  
          </div>
          <!-- /Content -->
  
        </ion-item>
        <!-- /Item -->
        <ng-container *ngIf="showOtpField">
  
          <ion-item class="c-item ion-no-padding" [ngClass]="{'has-error': submitted && f.password.errors}">
  
            <!-- Input -->
            <ion-input formControlName="otp" ngDefaultControl name="otp" type="text"
              placeholder="Enter verification code from your email here" class="c-input"></ion-input>
            <!-- /Input -->
  
            <!-- Content -->
            <div class="c-content c-content--login c-content--p-inter-12px c-content--color-red c-content--form-message"
              *ngIf="submitted && f.password.errors">
  
              <!-- Content p -->
              <p class="c-content__p">verification code cannot be empty.</p>
              <!-- /Content p -->
  
            </div>
            <!-- /Content -->
  
          </ion-item>
          <!-- /Item -->
  
          <!-- Item -->
          <ion-item class="c-item ion-no-padding" [ngClass]="{'has-error': submitted && f.password.errors}">
  
            <!-- Input -->
            <ion-input formControlName="newpassword" ngDefaultControl name="newpassword" type="password"
              placeholder="Enter new password" class="c-input">
            </ion-input>
            <!-- /Input -->
  
            <!-- Content -->
            <div class="c-content c-content--login c-content--p-inter-12px c-content--color-red c-content--form-message"
              *ngIf="submitted && f.password.errors">
  
              <!-- Content p -->
              <p class="c-content__p">Password cannot be empty.</p>
              <!-- /Content p -->
  
            </div>
            <!-- /Content -->
  
          </ion-item>
          <!-- /Item -->
  
          <!-- Item -->
          <ion-item class="c-item ion-no-padding" [ngClass]="{'has-error': submitted && f.password.errors}">
  
            <!-- Input -->
            <ion-input formControlName="confirmnewpassword" ngDefaultControl name="confirmnewpassword" type="password"
              placeholder="Confirm new password" class="c-input"></ion-input>
            <!-- /Input -->
  
            <!-- Content -->
            <div class="c-content c-content--login c-content--p-inter-12px c-content--color-red c-content--form-message"
              *ngIf="submitted && f.password.errors">
  
              <!-- Content p -->
              <p class="c-content__p">Password cannot be empty.</p>
              <!-- /Content p -->
  
            </div>
            <!-- /Content -->
  
          </ion-item>
          <!-- /Item -->
  
        </ng-container>
  
  
        <!-- <span *ngIf="!showOtpField" (click)="onNextClicked()">next -></span> -->
  
  
      </ion-item-group>
      <!-- /Item group -->
  
      <!-- Link -->
      <a href="javascript:void(0)" class="c-link u-no--text-decoration c-link--login u-display--block"
        (click)="goToLogin()">Remember password? Click here</a>
  
      <!-- /Link -->
  
  
  
    </form>
    <!-- /Form -->
  
  </div>
  <!-- /Main wrapper -->

</ion-content>

<!-- Footer -->
<ion-footer collapse="fade"
  class="l-header l-footer u-position--fixed u-no--position-bot u-left--50p u-transform--translate-x-minus-50p l-footer--bg-white">

  <!-- Main wrapper -->
  <ion-toolbar class="l-main-wrapper">
    <!-- Button -->

    <ion-button *ngIf="!showOtpField && isCustomer" (click)="onNextClicked()"
      class="c-button ion-no-margin u-no--text-transform c-button--margin-top-25px c-button--text-inter-18px c-button--text-inter-medium"
      fill="clear" expand="full">
      Get Verification Code
    </ion-button>

    <ion-button *ngIf="showOtpField && isCustomer" [disabled]="!forgotPasswordForm.valid" (click)="onSubmit(forgotPasswordForm.value)"
      class="c-button ion-no-margin u-no--text-transform c-button--margin-top-25px c-button--text-inter-18px c-button--text-inter-medium"
      fill="clear" expand="full" type="submit">
      Submit
      <!-- Icon -->
      <ion-icon src="../../../assets/images/outline-caret-right--color-white.svg"
        class="c-icon c-icon--caret-rt u-no--mg-rt" slot="end"></ion-icon>
      <!-- /Icon -->
    </ion-button>


    <ion-button *ngIf="!showOtpField && (isAgent || isEmployee)" (click)="Submit()"
      class="c-button ion-no-margin u-no--text-transform c-button--margin-top-25px c-button--text-inter-18px c-button--text-inter-medium"
      fill="clear" expand="full" type="submit">
      Submit
      <!-- Icon -->
      <ion-icon src="../../../assets/images/outline-caret-right--color-white.svg"
        class="c-icon c-icon--caret-rt u-no--mg-rt" slot="end"></ion-icon>
      <!-- /Icon -->
    </ion-button>
    <!-- /Button -->
  </ion-toolbar>
  <!-- /Main wrapper -->

</ion-footer>
<!-- /Footer -->
<!-- <ion-content>
  <ion-item lines="full">
    <ion-label>
      Forgot Password page Works
    </ion-label>
  </ion-item>
</ion-content> -->