<ion-header collapse="fade" mode="md" class="l-header">
    <app-header [headerMeta]="headerInfo" [isModel]="true" ></app-header>
</ion-header>

<ion-content class="o-time-offs">
        <ion-card>
            <ion-card-content>
                <form [formGroup]="timeOffsForm" (ngSubmit)="onSubmit(timeOffsForm.value)">

                    <ion-item>
                        <ion-label position="stacked">Note</ion-label>
                        <ion-textarea type="text" class="textarea-note-placeholder" placeholder="Enter note for time off" formControlName="note"></ion-textarea>
                    </ion-item>


                    <ion-item lines="none">
                        <ion-text  slot="start">Select date</ion-text>
                        <ion-datetime-button datetime="datetime" class="c-datetime-button" ></ion-datetime-button>

                        <!-- date picker modal -->
                        <ion-modal [keepContentsMounted]="true" class="c-modal c-modal--pickup-location" color="light">
                            <ng-template>
                                <ion-datetime class="ion-text-center" id="datetime" hourCycle="h24" [preferWheel]="false" presentation="date"
                                    [ngModel]="dateFormat" (ionChange)="onDateTimeChanged($event)"
                                    formControlName="date" [min]="dateFormat"></ion-datetime>
                            </ng-template>
                        </ion-modal>
                        <!-- /date picker modal -->
                    </ion-item>
                    <ion-button type="submit" expand="block">Submit</ion-button>
                </form>
            </ion-card-content>
        </ion-card>
</ion-content>