// Abstracts
@use "../abstracts/typography" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/dimension" as *;
@use "../abstracts/border-radius" as *;

// Button
.c-datetime-button {
  $cDatetimeButton: &;

  width: $width-100p;

  &::part(native) {
    border: 1px solid $color-primary-1-5;
    border-radius: $border-radius-5px;
    color: $color-primary;
    padding: 10px;
    min-height: $height-40px;
    font-size: $font-size-14px;
    background: $white;
    width: $width-100p;
    text-align: left;
  }
}
