<!-- Modal wrapper -->
<div class="l-modal-wrapper l-modal-wrapper--order-status">

  <!-- Header -->
  <ion-header collapse="fade" class="l-header u-no--pad-top u-no--pad-bot">

    <!-- Main wrapper -->
    <ion-toolbar class="l-main-wrapper l-main-wrapper--modal l-main-wrapper--height-100p">

      <!-- Icon -->
      <div class="c-icon c-icon--order-status">

        <!-- Ion icon -->
        <ion-icon src="../../../../assets/images/fill-order-status--color-brand-plus-white-20p.svg"
          class="u-no--border-radius c-icon--width-100p c-icon--height-100p"></ion-icon>
        <!-- /Ion icon -->

      </div>
      <!-- /Icon -->

      <!-- Title -->
      <div
        class="ion-no-padding c-title c-title--get-started c-title--h1-black c-title--video-instructions u-no--mg-top c-title--order-status ion-text-center">

        <!-- Title h1 -->
        <h1 class="c-title__h1">ORDER STATUS</h1>
        <!-- /Title h1 -->

      </div>
      <!-- /Title -->

      <!-- Main wrapper -->
      <div class="l-main-wrapper">

        <!-- Row -->
        <ion-row>

          <!-- Col -->
          <ion-col class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-lt">

            <!-- Title -->
            <div
              class="ion-no-padding c-title c-title--login c-title--h1-color-primary c-title--pickup-location c-title--inter-regular u-no--mg-top c-title--header c-title--span-color-brand-1-1 c-title--order-status-id c-title--id">

              <!-- Title h1 -->
              <h1 class="c-title__h1 u-display--flex u-align-items--center">
                ID

                <!-- Title span -->
                <span
                  class="c-title__span u-text-overflow--ellipsis u-white-space--nowrap u-overflow--hidden">NY730HK9R</span>
                <!-- /Title span -->

              </h1>
              <!-- /Title h1 -->

            </div>
            <!-- /Title -->

          </ion-col>
          <!-- /Col -->

          <!-- Col -->
          <ion-col class="u-display--flex u-align-items--center u-no--pad-top u-no--pad-bot u-no--pad-rt">

            <!-- Title -->
            <div
              class="ion-no-padding c-title c-title--login c-title--h1-color-primary c-title--pickup-location c-title--inter-regular u-no--mg-top c-title--header c-title--span-color-brand-1-1 c-title--order-status-id">

              <!-- Title h1 -->
              <h1 class="c-title__h1 u-display--flex u-align-items--center">
                REF ID

                <!-- Title span -->
                <span
                  class="c-title__span u-text-overflow--ellipsis u-white-space--nowrap u-overflow--hidden">#9g686t52c</span>
                <!-- /Title span -->

              </h1>
              <!-- /Title h1 -->

            </div>
            <!-- /Title -->

          </ion-col>
          <!-- /Col -->

        </ion-row>
        <!-- /Row -->

      </div>
      <!-- /Main wrapper -->

    </ion-toolbar>
    <!-- /Main wrapper -->

  </ion-header>
  <!-- /Header -->

  <ion-content>

    <!-- Main wrapper -->
    <div class="l-main-wrapper l-main-wrapper--order-status">

      <!-- List -->
      <div class="c-list u-no--bg ion-no-padding u-no--pad-bot">

        <!-- Item group -->
        <div class="c-item-group u-no--pad-top u-no--pad-bot u-no--mg-top u-no--mg-bot c-item-group--order-status">

          <!-- Item -->
          <div
            class="c-item ion-no-padding u-display--flex u-align-items--center u-no--pad-top c-item--order-status c-item--border-color-primary">

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-primary-1-5 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-inactive">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-primary-1-2.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-brand-1-1 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-active">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-white.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <div class="c-item__wrap">

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--h1-color-primary-1-2 c-title--pickup-location c-title--inter-regular c-title--h1-inter-14px">

                <!-- Title h1 -->
                <h1 class="c-title__h1">Service Order Placed</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--addition-services c-title--h1-inter-12px c-title--h1-color-primary-1-2 c-title--inter-medium u-display--flex u-align-items--center c-title--order-status-date-and-time">

                <!-- Ion icon -->
                <ion-icon src="../../../../assets/images/outline-clock--color-primary-1-2.svg"
                  class="c-icon u-no--border-radius c-icon--width-12px c-icon--height-12px c-icon--outline-clock">
                </ion-icon>
                <!-- /Ion icon -->

                <!-- Title h1 -->
                <h1 class="c-title__h1">9.10 AM, Mar 22, 2022</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

            </div>

          </div>
          <!-- /Item -->

          <!-- Item -->
          <div
            class="c-item ion-no-padding u-display--flex u-align-items--center u-no--pad-top c-item--order-status c-item--border-color-primary">

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-primary-1-5 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-inactive">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-primary-1-2.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-brand-1-1 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-active">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-white.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <div class="c-item__wrap">

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--h1-color-primary-1-2 c-title--pickup-location c-title--inter-regular c-title--h1-inter-14px">

                <!-- Title h1 -->
                <h1 class="c-title__h1">Vendors Received Order Request</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--addition-services c-title--h1-inter-12px c-title--h1-color-primary-1-2 c-title--inter-medium u-display--flex u-align-items--center c-title--order-status-date-and-time">

                <!-- Ion icon -->
                <ion-icon src="../../../../assets/images/outline-clock--color-primary-1-2.svg"
                  class="c-icon u-no--border-radius c-icon--width-12px c-icon--height-12px c-icon--outline-clock">
                </ion-icon>
                <!-- /Ion icon -->

                <!-- Title h1 -->
                <h1 class="c-title__h1">9.15 AM, Mar 22, 2022</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

            </div>

          </div>
          <!-- /Item -->

          <!-- Item -->
          <div
            class="c-item ion-no-padding u-display--flex u-align-items--center u-no--pad-top c-item--order-status c-item--border-color-primary">

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-primary-1-5 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-inactive">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-primary-1-2.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-brand-1-1 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-active">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-white.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <div class="c-item__wrap">

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--h1-color-primary-1-2 c-title--pickup-location c-title--inter-regular c-title--h1-inter-14px">

                <!-- Title h1 -->
                <h1 class="c-title__h1">Received Quotes</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--addition-services c-title--h1-inter-12px c-title--h1-color-primary-1-2 c-title--inter-medium u-display--flex u-align-items--center c-title--order-status-date-and-time">

                <!-- Ion icon -->
                <ion-icon src="../../../../assets/images/outline-clock--color-primary-1-2.svg"
                  class="c-icon u-no--border-radius c-icon--width-12px c-icon--height-12px c-icon--outline-clock">
                </ion-icon>
                <!-- /Ion icon -->

                <!-- Title h1 -->
                <h1 class="c-title__h1">1.15 PM, Mar 23, 2022</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

            </div>

          </div>
          <!-- /Item -->

          <!-- Item -->
          <div
            class="c-item ion-no-padding u-display--flex u-align-items--center u-no--pad-top c-item--order-status c-item--border-color-primary">

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-primary-1-5 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-inactive">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-primary-1-2.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-yellow-1-1 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-active">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-white.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <div class="c-item__wrap">

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--h1-color-primary-1-2 c-title--pickup-location c-title--inter-regular c-title--h1-inter-14px">

                <!-- Title h1 -->
                <h1 class="c-title__h1">Quote Accepted</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--addition-services c-title--h1-inter-12px c-title--h1-color-primary-1-2 c-title--inter-medium u-display--flex u-align-items--center c-title--order-status-date-and-time">

                <!-- Ion icon -->
                <ion-icon src="../../../../assets/images/outline-clock--color-primary-1-2.svg"
                  class="c-icon u-no--border-radius c-icon--width-12px c-icon--height-12px c-icon--outline-clock">
                </ion-icon>
                <!-- /Ion icon -->

                <!-- Title h1 -->
                <h1 class="c-title__h1">7.23 AM, Mar 24, 2022</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

            </div>

          </div>
          <!-- /Item -->

          <!-- Item -->
          <div
            class="c-item ion-no-padding u-display--flex u-align-items--center u-no--pad-top c-item--order-status c-item--border-color-primary">

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-primary-1-5 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-inactive">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-primary-1-2.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <!-- Icon -->
            <div
              class="c-icon u-display--flex u-align-items--center u-justify-content--center u-no--mg-rt u-no--position-top c-icon--bg-color-brand-1-1 c-icon--border-color-white u-position--absolute c-icon--fill-circle-check c-icon--width-40px c-icon--height-40px is-active">

              <!-- Ion icon -->
              <ion-icon src="../../../../assets/images/outline-check--color-white.svg"
                class="c-icon u-no--border-radius u-no--mg-rt c-icon--caret-lt"></ion-icon>
              <!-- /Ion icon -->

            </div>
            <!-- /Icon -->

            <div class="c-item__wrap">

              <!-- Title -->
              <div
                class="c-title ion-no-padding c-title--h1-color-primary-1-2 c-title--pickup-location c-title--inter-regular c-title--h1-inter-14px">

                <!-- Title h1 -->
                <h1 class="c-title__h1">Vendor Sent Paym ent Invoice</h1>
                <!-- /Title h1 -->

              </div>
              <!-- /Title -->

            </div>

          </div>
          <!-- /Item -->

        </div>
        <!-- /Item group -->

      </div>
      <!-- /List -->

      <!-- Footer -->
      <ion-footer collapse="fade" class="l-footer l-footer--order-status">

        <!-- Button -->
        <ion-button
          class="c-button ion-no-margin u-no--text-transform c-button--outline c-button--border-color-primary u-no--border u-no--bg c-title--h1-inter-16px c-title--h1-inter-semibold"
          fill="clear" expand="full" (click)="closeModel()">

          <!-- Title -->
          <ion-title
            class="ion-no-padding c-title c-title--inter-medium c-title--h1-inter-18px u-no--flex c-title--h1-color-primary">

            <!-- Title h1 -->
            <h1 class="c-title__h1">
              CLOSE

              <!-- Icon -->
              <ion-icon src="../../../../assets/images/outline-arrow-right--color-primary-color.svg"
                class="c-icon c-icon--caret-rt u-no--mg-rt" slot="end"></ion-icon>
              <!-- /Icon -->

            </h1>
            <!-- /Title h1 -->

          </ion-title>
          <!-- /Title -->
        </ion-button>
        <!-- /Button -->

      </ion-footer>
      <!-- /Footer -->

    </div>
    <!-- /Main wrapper -->

  </ion-content>
</div>
<!-- /Modal wrapper -->


<!-- Modal wrapper -->
<div class="l-modal-wrapper l-modal-wrapper--order-completed">

  <!-- Header -->
  <ion-header collapse="fade" class="l-header u-no--pad-top u-no--pad-bot">

    <!-- Main wrapper -->
    <ion-toolbar class="l-main-wrapper l-main-wrapper--modal l-main-wrapper--height-100p">

      <!-- Icon -->
      <div class="c-icon c-icon--order-status">

        <!-- Ion icon -->
        <ion-icon src="../../../../assets/images/order-details/fill-order-completed--color-brand-plus-white-20p.svg"
          class="u-no--border-radius c-icon--width-100p c-icon--height-100p"></ion-icon>
        <!-- /Ion icon -->

      </div>
      <!-- /Icon -->

      <!-- Title -->
      <div
        class="ion-no-padding c-title c-title--get-started c-title--h1-black c-title--video-instructions u-no--mg-top c-title--order-status ion-text-center">

        <!-- Title h1 -->
        <h1 class="c-title__h1">ORDER COMPLETED</h1>
        <!-- /Title h1 -->

      </div>
      <!-- /Title -->

      <!-- Main wrapper -->
      <div class="l-main-wrapper">

        <!-- Content -->
        <div
          class="c-content c-content--p-inter-14px u-no--mg-top c-content--p-color-primary-1-1 c-content--view-vendor-quote c-content--p-inter-medium c-content--order-status ion-text-center">

          <!-- Content p -->
          <p class="c-content__p">
            Your service request has been completed. Please rate the service of the vendor and optionally add a review.
          </p>
          <!-- /Content p -->

        </div>
        <!-- /Content -->

      </div>
      <!-- /Main wrapper -->

    </ion-toolbar>
    <!-- /Main wrapper -->

  </ion-header>
  <!-- /Header -->

  <ion-content>

    <!-- Main wrapper -->
    <div class="l-main-wrapper l-main-wrapper--order-completed">

      <!-- Form -->
      <form class="l-form u-no--pad-top u-no--pad-bot">

        <!-- List -->
        <ion-list
          class="c-list u-no--bg ion-no-padding u-no--pad-bot u-display--flex u-align-items--center u-justify-content--center c-list--order-completed">

          <!-- Item group -->
          <ion-item-group
            class="c-item-group u-no--mg-top u-no--mg-bot u-no--pad-rt u-no--pad-lt u-display--flex u-align-items--center c-item-group--rating">

            <!-- Item -->
            <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot c-item--rating">

              <!-- Icon -->
              <ion-icon src="../../../../assets/images/outline-star--color-yellow-1-1.svg"
                class="c-icon u-no--mg-rt c-icon--order-completed"></ion-icon>
              <!-- /Icon -->

            </ion-item>
            <!-- /Item -->

            <!-- Item -->
            <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot c-item--rating">

              <!-- Icon -->
              <ion-icon src="../../../../assets/images/outline-star--color-yellow-1-1.svg"
                class="c-icon u-no--mg-rt c-icon--order-completed"></ion-icon>
              <!-- /Icon -->

            </ion-item>
            <!-- /Item -->

            <!-- Item -->
            <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot c-item--rating">

              <!-- Icon -->
              <ion-icon src="../../../../assets/images/outline-star--color-yellow-1-1.svg"
                class="c-icon u-no--mg-rt c-icon--order-completed"></ion-icon>
              <!-- /Icon -->

            </ion-item>
            <!-- /Item -->

            <!-- Item -->
            <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot c-item--rating">

              <!-- Icon -->
              <ion-icon src="../../../../assets/images/outline-star--color-yellow-1-1.svg"
                class="c-icon u-no--mg-rt c-icon--order-completed"></ion-icon>
              <!-- /Icon -->

            </ion-item>
            <!-- /Item -->

            <!-- Item -->
            <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot c-item--rating">

              <!-- Icon -->
              <ion-icon src="../../../../assets/images/outline-star--color-yellow-1-1.svg"
                class="c-icon u-no--mg-rt c-icon--order-completed"></ion-icon>
              <!-- /Icon -->

            </ion-item>
            <!-- /Item -->

          </ion-item-group>
          <!-- /Item group -->

        </ion-list>
        <!-- /List -->

        <!-- Textarea -->
        <ion-textarea class="c-input c-input--white ion-no-margin c-input--order-completed" name="Write review"
          placeholder="Write review" required></ion-textarea>
        <!-- /Textarea -->

        <!-- Footer -->
        <ion-footer collapse="fade" class="l-footer l-footer--order-completed">

          <!-- Button -->
          <ion-button
            class="c-button ion-no-margin u-no--text-transform c-button--outline c-button--border-color-primary u-no--border u-no--bg"
            fill="clear" expand="full" (click)="closeModel()">

            <!-- Title -->
            <ion-title
              class="ion-no-padding c-title c-title--inter-medium u-no--flex c-title--h1-color-primary c-title--h1-inter-16px c-title--h1-inter-semibold">

              <!-- Title h1 -->
              <h1 class="c-title__h1">
                CONTINUE

                <!-- Icon -->
                <ion-icon src="../../../../assets/images/outline-arrow-right--color-primary-color.svg"
                  class="c-icon c-icon--caret-rt u-no--mg-rt" slot="end"></ion-icon>
                <!-- /Icon -->

              </h1>
              <!-- /Title h1 -->

            </ion-title>
            <!-- /Title -->
          </ion-button>
          <!-- /Button -->

        </ion-footer>
        <!-- /Footer -->

      </form>
      <!-- /Form -->

    </div>
    <!-- /Main wrapper -->

  </ion-content>
</div>
<!-- /Modal wrapper -->