// Abstracts
@use "../abstracts/dimension" as *;

// Form
.l-form {
  $lForm: &;

  padding: 20px 0;
  position: relative;

  &--height-100vh-120px {
    height: $height-100vh-120px;
  }

  &--height-100vh-124px {
    height: $height-100vh-124px;
  }

  &--pickup-location {
    padding-bottom: 110px;
  }

  &--login {
    padding-bottom: 160px;
  }

  &--padding-bottom-170px {
    padding-bottom: 170px;
  }
}
