.o-time-offs{
    ion-button{
        // --padding-top: 10px;
        // --padding-bottom: 10px;
        margin: 10px 0px;
        height: 45px;
        width: 100%;
    }

    ion-item{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .textarea-note-placeholder{
        border: 1px solid #e9eaeb;
        padding: 5px;
        border-radius: 8px 8px 0px 0px;
    }
}  