<!-- Header -->
<ion-header collapse="fade" mode="md" class="l-header">
  <app-header [headerMeta]="heraderInfo"></app-header>
</ion-header>
<!-- /Header -->

<ion-content>

  <!-- Main wrapper -->
  <div class="l-main-wrapper l-main-wrapper--get-started l-main-wrapper--min-height-100vh-166px">

    <!-- Title -->
    <div
      class="ion-no-padding c-title c-title--get-started c-title--our-services c-title--h1-inter-16px c-title--inter-regular c-title--h1-black ion-text-center c-title--video-instructions">

      <!-- Title h1 -->
      <h1 class="c-title__h1">How to request an estimate?</h1>
      <!-- /Title h1 -->

    </div>
    <!-- /Title -->

    <!-- Content wrapper -->
    <div class="c-card ion-no-margin u-no--box-shadow u-no--mg-bot c-card--video-instructions l-content-wrapper">

      <!-- List -->
      <ion-list class="c-list u-no--bg ion-no-padding">

        <!-- Item group -->
        <ion-item-group class="c-item-group">

          <!-- Item -->
          <ion-item class="c-item ion-no-padding c-item--video-instructions">

            <!-- Icon -->
            <ion-icon src="../../../../assets/images/fill-check--color-brand.svg"
              class="c-icon c-icon--video-instructions c-icon--width-24px c-icon--height-24px"></ion-icon>
            <!-- /Icon -->

            <!-- Content -->
            <div class="c-content c-content--p-inter-14px u-no--mg-top">

              <!-- Content p -->
              <p class="c-content__p">
                You have 15 minutes to record your video estimate.
              </p>
              <!-- /Content p -->

            </div>
            <!-- /Content -->

          </ion-item>
          <!-- /Item -->

          <!-- Item -->
          <ion-item class="c-item ion-no-padding c-item--video-instructions">

            <!-- Icon -->
            <ion-icon src="../../../../assets/images/fill-check--color-brand.svg"
              class="c-icon c-icon--video-instructions c-icon--width-24px c-icon--height-24px"></ion-icon>
            <!-- /Icon -->

            <!-- Content -->
            <div class="c-content c-content--p-inter-14px u-no--mg-top">

              <!-- Content p -->
              <p class="c-content__p">
                Record each room from left to right.
              </p>
              <!-- /Content p -->

            </div>
            <!-- /Content -->

          </ion-item>
          <!-- /Item -->

          <!-- Item -->
          <ion-item class="c-item ion-no-padding c-item--video-instructions">

            <!-- Icon -->
            <ion-icon src="../../../../assets/images/fill-check--color-brand.svg"
              class="c-icon c-icon--video-instructions c-icon--width-24px c-icon--height-24px"></ion-icon>
            <!-- /Icon -->

            <!-- Content -->
            <div class="c-content c-content--p-inter-14px u-no--mg-top">

              <!-- Content p -->
              <p class="c-content__p">
                Open all closets.
              </p>
              <!-- /Content p -->

            </div>
            <!-- /Content -->

          </ion-item>
          <!-- /Item -->

          <!-- Item -->
          <ion-item class="c-item ion-no-padding c-item--video-instructions">

            <!-- Icon -->
            <ion-icon src="../../../../assets/images/fill-check--color-brand.svg"
              class="c-icon c-icon--video-instructions c-icon--width-24px c-icon--height-24px"></ion-icon>
            <!-- /Icon -->

            <!-- Content -->
            <div class="c-content c-content--p-inter-14px u-no--mg-top">

              <!-- Content p -->
              <p class="c-content__p">
                Open drawers and cabinates for Pack, Move, Unpack & Organizing Service Requests.
              </p>
              <!-- /Content p -->

            </div>
            <!-- /Content -->

          </ion-item>
          <!-- /Item -->

          <!-- Item -->
          <ion-item class="c-item ion-no-padding c-item--video-instructions">

            <!-- Icon -->
            <ion-icon src="../../../../assets/images/fill-check--color-brand.svg"
              class="c-icon c-icon--video-instructions c-icon--width-24px c-icon--height-24px"></ion-icon>
            <!-- /Icon -->

            <!-- Content -->
            <div class="c-content c-content--p-inter-14px u-no--mg-top">

              <!-- Content p -->
              <p class="c-content__p">
                Please describe everything that has to be moved, incase some items will be donated/left behind.
              </p>
              <!-- /Content p -->

            </div>
            <!-- /Content -->

          </ion-item>
          <!-- /Item -->

        </ion-item-group>
        <!-- /Item group -->

      </ion-list>
      <!-- /List -->

      <!-- Title -->
      <div class="ion-no-padding ion-text-center c-title c-title--video-instructions c-title--login c-title--h1-black">

        <!-- Title h1 -->
        <h1 class="c-title__h1">Upload Existing Video or Shoot New</h1>
        <!-- /Title h1 -->

      </div>
      <!-- /Title -->

      <!-- Row -->
      <ion-row class="l-row l-row--video-instructions">

        <!-- Col -->
        <ion-col class="l-col l-col--padding-10px">

          <!-- Card -->
          <ion-card
            class="c-card ion-no-margin u-no--box-shadow u-display--flex u-align-items--center u-justify-content--center u-flex-direction--column u-no--mg-bot c-card--our-services c-card--bg-white c-card--video-upload-and-shoot c-card--height-90px">

            <!-- Icon -->
            <ion-icon src="../../../../assets/images/fill-upload--color-brand.svg"
              class="c-icon u-no--mg-rt c-icon--width-24px c-icon--height-24px"></ion-icon>
            <!-- /Icon -->

            <!-- Title -->
            <div
              class="c-title ion-no-padding ion-text-center c-title--video-instructions c-title--login c-title--h1-color-primary">

              <!-- Title h1 -->
              <h1 class="c-title__h1">upload</h1>
              <!-- /Title h1 -->

            </div>
            <!-- /Title -->

          </ion-card>
          <!-- /Card -->

        </ion-col>
        <!-- /Col -->

        <!-- Col -->
        <ion-col class="l-col l-col--padding-10px">

          <!-- Card -->
          <ion-card
            class="c-card ion-no-margin u-no--box-shadow u-display--flex u-align-items--center u-justify-content--center u-flex-direction--column u-no--mg-bot c-card--our-services c-card--bg-white c-card--video-upload-and-shoot c-card--height-90px"
            id="size-button">

            <!-- Icon -->
            <ion-icon src="../../../../assets/images/fill-video--color-brand.svg"
              class="c-icon u-no--mg-rt c-icon--width-24px c-icon--height-24px"></ion-icon>
            <!-- /Icon -->

            <!-- Title -->
            <div
              class="c-title ion-no-padding ion-text-center c-title--video-instructions c-title--login c-title--h1-color-primary">

              <!-- Title h1 -->
              <h1 class="c-title__h1">record</h1>
              <!-- /Title h1 -->

            </div>
            <!-- /Title -->

          </ion-card>
          <!-- /Card -->

          <!-- Popover -->
          <ion-popover trigger="size-button" size="cover" [arrow]="false" class="s-popover">
            <ng-template>
              <ion-content>

                <!-- List -->
                <ion-list class="c-list ion-no-padding u-no--mg-top u-no--mg-bot u-no--pad-bot">

                  <!-- Item group -->
                  <ion-item-group
                    class="c-item-group u-no--mg-top u-no--mg-bot c-item-group--video-instructions c-item-group--border-color-primary-1-4">

                    <!-- Item -->
                    <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot">

                      <!-- c-title -->
                      <ion-title
                        class="ion-no-padding c-title c-title--login c-title--h1-black u-no--mg-top c-title--h1-inter-semibold">

                        <!-- Title h1 -->
                        <h1 class="c-title__h1">Video</h1>
                        <!-- /Title h1 -->

                      </ion-title>
                      <!-- /c-title -->

                    </ion-item>
                    <!-- /Item -->

                  </ion-item-group>
                  <!-- /Item group -->

                  <!-- Item group -->
                  <ion-item-group
                    class="c-item-group u-no--mg-top u-no--mg-bot c-item-group--video-instructions c-item-group--border-color-primary-1-4">

                    <!-- Item -->
                    <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot">

                      <!-- c-title -->
                      <ion-title
                        class="ion-no-padding c-title c-title--login c-title--h1-black u-no--mg-top c-title--h1-inter-semibold">

                        <!-- Title h1 -->
                        <h1 class="c-title__h1">Image</h1>
                        <!-- /Title h1 -->

                      </ion-title>
                      <!-- /c-title -->

                    </ion-item>
                    <!-- /Item -->

                  </ion-item-group>
                  <!-- /Item group -->

                </ion-list>
                <!-- /List -->
              </ion-content>
            </ng-template>
          </ion-popover>
          <!-- /Popover -->

        </ion-col>
        <!-- /Col -->

      </ion-row>
      <!-- /Row -->

    </div>
    <!-- /Content wrapper -->

  </div>
  <!-- /Main wrapper -->

</ion-content>


<!-- Footer -->
<ion-footer collapse="fade" class="l-footer l-footer--order-completed">

  <!-- Main wrapper -->
  <ion-toolbar class="l-main-wrapper ion-text-center">

    <!-- Button -->
    <ion-button class="c-button ion-no-margin u-no--text-transform c-button--outline c-button--border-color-primary"
      fill="clear" expand="full">

      <!-- Title -->
      <ion-title
        class="ion-no-padding c-title c-title--inter-medium c-title--h1-inter-18px u-no--flex c-title--h1-white">

        <!-- Title h1 -->
        <h1 class="c-title__h1">
          Next

          <!-- Icon -->
          <ion-icon src="../../../assets/images/outline-caret-right--color-white.svg"
            class="c-icon c-icon--caret-rt u-no--mg-rt" slot="end"></ion-icon>
          <!-- /Icon -->

        </h1>
        <!-- /Title h1 -->

      </ion-title>
      <!-- /Title -->

    </ion-button>
    <!-- /Button -->

  </ion-toolbar>
  <!-- /Main wrapper -->

</ion-footer>
<!-- /Footer -->