<!-- Media header -->
<ion-row class="l-row u-no--mg-top u-no--mg-rt u-no--mg-lt l-row--pickup-location l-row--view-vendor-quote">
  <ion-col class="u-display--flex u-align-items--center ion-no-padding">
    <!-- Media title -->
    <ion-text
      class="c-title ion-no-padding c-title--h1-color-brand c-title--text-transform c-title--addition-services c-title--h1-inter-12px c-title--view-vendor-quote">
      <h1 class="c-title__h1">MEDIA</h1>
    </ion-text>
    <!-- /Media title -->
  </ion-col>
</ion-row>
<!-- /Media header -->

<!-- Media gallery -->
<ion-row class="l-row l-row--quote-documents">
  <!-- <ng-container> -->
  <ng-container *ngIf="orderMedie?.length === 0; else mediaThumbTemp">
    <ion-col class="l-col l-col--view-vendor-quote" size="12">
      <!-- No media uploaded label -->
      <ion-text
        class="c-title ion-no-padding c-title--h1-color-primary-1-1 c-title--inter-medium c-title--h1-inter-14px">
        <h1 class="c-title__h1">No media uploaded</h1>
      </ion-text>
      <!-- /No media uploaded label -->
    </ion-col>

    <ion-col class="l-col l-col--view-vendor-quote" size="4">
      <!-- Media gallery add thumbnail -->
      <ion-thumbnail (click)="addMedia()"
        class="c-thumbnail c-thumbnail--width-100p c-thumbnail--height-114px c-thumbnail--bg-color-white u-display--flex u-align-items--center u-justify-content--center c-thumbnail--video-capture u-overflow--hidden c-thumbnail--sm-height-106px c-thumbnail--sm-height-101px c-thumbnail--sm-height-83px"
        id="size-button">
        <!-- Media gallery add icon -->
        <ion-icon src="../../../../assets/images/outline-add--color-brand-1-1.svg"
          class="c-icon c-icon--width-30px c-icon--height-30px u-no--mg-rt">
        </ion-icon>
        <!-- /Media gallery add icon -->
      </ion-thumbnail>
      <!-- /Media gallery add thumbnail -->
    </ion-col>
  </ng-container>

  <ng-template #mediaThumbTemp>
    <ion-col class="l-col l-col--view-vendor-quote" size="4">
      <!-- Media gallery add thumbnail -->
      <ion-thumbnail
        class="c-thumbnail c-thumbnail--width-100p c-thumbnail--height-114px c-thumbnail--bg-color-white u-display--flex u-align-items--center u-justify-content--center c-thumbnail--video-capture u-overflow--hidden c-thumbnail--sm-height-106px c-thumbnail--sm-height-101px c-thumbnail--sm-height-83px"
        id="size-button"  (click)="addMedia()">
        <!-- Media gallery add icon -->
        <ion-icon src="../../../../assets/images/outline-add--color-brand-1-1.svg"
          class="c-icon c-icon--width-30px c-icon--height-30px u-no--mg-rt">
        </ion-icon>
        <!-- /Media gallery add icon -->
      </ion-thumbnail>
      <!-- /Media gallery add thumbnail -->
    </ion-col>

    <ion-col class="l-col l-col--view-vendor-quote" size="4" *ngFor="let media of orderMedie ; let i = index">
      <!-- Media gallery image thumbnail -->
      <ion-thumbnail
        class="c-thumbnail c-thumbnail--width-100p c-thumbnail--height-114px c-thumbnail--video-capture u-overflow--hidden c-thumbnail--sm-height-106px c-thumbnail--sm-height-101px c-thumbnail--sm-height-83px"
        (click)="presentActionSheet(i)">
        <!-- Play iccon -->
        <ion-icon src="../../../../assets/images/fill-play--color-white.svg" *ngIf="media?.fileType !== 'image'"
          class="c-icon u-no--mg-rt u-no--border-radius u-position--absolute u-top--50p u-left--50p u-transform--translate-minus-50p c-icon--play">
        </ion-icon>
        <!-- /Play iccon -->

        <!-- Uploaded image preview -->
        <img [src]="media?.fileType === 'image' ? media?.accessLink : media?.thumbnail" alt="Media">
        <!-- /Uploaded image preview -->
      </ion-thumbnail>
      <!-- /Media gallery image thumbnail -->
    </ion-col>
  </ng-template>
</ion-row>
<!-- /Media gallery -->