<!-- Header -->
<ion-header collapse="fade" class="l-header u-no--pad-top u-no--pad-bot">

    <!-- Main wrapper -->
    <ion-toolbar class="l-main-wrapper">
 
       <!-- c-title -->
       <ion-title class="ion-no-padding c-title c-title--login c-title--h1-black u-no--mg-top ion-text-center">
                   
          <!-- Title h1 -->
          <h1 class="c-title__h1">Not Found</h1>
          <!-- /Title h1 -->
       
       </ion-title>
       <!-- /c-title -->
 
       <!-- List -->
       <ion-list class="c-list u-no--bg ion-no-padding u-no--mg-top u-no--mg-bot u-no--pad-bot u-position--absolute u-top--50p u-transform--translate-y-minus-50p u-no--position-rt">
 
          <!-- Item group -->
          <ion-item-group class="c-item-group u-no--mg-top u-no--mg-bot u-display--flex u-align-items--center c-item-group--additional-service">
    
             <!-- Item -->
             <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot c-item--additional-service">
    
                <!-- Button -->
                <ion-buttons>
    
                   <!-- Icon -->
                   <ion-icon src="../../../../assets/images/fill-bell--color-primary.svg" class="c-icon u-no--mg-rt c-icon--additional-service"></ion-icon>
                   <!-- /Icon -->
    
                   <!-- Icon -->
                   <ion-icon src="../../../../assets/images/fill-notification-indication--color-blue.svg" class="c-icon u-no--mg-rt u-position--absolute c-icon--notification-indication u-no--position-top"></ion-icon>
                   <!-- /Icon --> 
                
                </ion-buttons>
                <!-- /Button -->
    
             </ion-item>
             <!-- /Item -->
    
             <!-- Item -->
             <ion-item class="c-item ion-no-padding u-no--pad-top u-no--pad-bot c-item--additional-service">
    
                <!-- Button -->
                <ion-buttons>
    
                   <!-- Icon -->
                   <ion-icon src="../../../../assets/images/fill-user-profile--color-brand-1-3-plus-primary.svg" class="c-icon u-no--mg-rt c-icon--additional-service"></ion-icon>
                   <!-- /Icon --> 
                
                </ion-buttons>
                <!-- /Button -->
    
             </ion-item>
             <!-- /Item -->
          
          </ion-item-group>
          <!-- /Item group -->
 
       </ion-list>
       <!-- /List -->
       
    </ion-toolbar>
    <!-- /Main wrapper -->
 
 </ion-header>
 <!-- /Header -->
