<ion-content class="ion-no-padding o-emp-notification">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item class="" (click)="goToTimeOffs()" lines="none" detail="true">
            <ion-label class="ion-padding display-flex-label tab-color-white o-emp-notification--font-weight-700"><ion-icon class="o-emp-notification--icon-font-size margin-right-5px" name="timer"></ion-icon>Time Off</ion-label>
          </ion-item>
        
          <ion-item (click)="goToJobHistory()" lines="none" detail="true">
            <ion-label class="ion-padding display-flex-label tab-color-white o-emp-notification--font-weight-700"><ion-icon class="o-emp-notification--icon-font-size margin-right-5px" name="briefcase"></ion-icon>Job History</ion-label>
           </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>